<ion-view view-title="TL">
    <ion-content>
        <!-- The content of the page -->
        <div class="row">
            <div class="col">
              <div class="logo">
                  <img src="img/logo.png" width="200">
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
               <div class="button-group">
                   <a class="button" ng-click="showLoad()">Loading</a>
                   <a class="button" ng-click="backdrop()">Backdrop</a>
               </div>
            </div>
        </div>
    </ion-content>
</ion-view>