<ion-modal-view class="logmodal">
   <ion-content class="text-center">
       <h3>
           <i class="icon ion-log-out"></i>
           <br>
           Are you sure?
        </h3>
       <div class="button-group">
            <button class="button button-stable" ng-click="logCancel()">Cancel</button>
            <button class="button button-assertive" ng-click="logOk()">Logout</button>
       </div>
   </ion-content>
</ion-modal-view>