    <ion-side-menus>
     <ion-side-menu-content>  
        <ion-nav-bar>
            <ion-nav-back-button></ion-nav-back-button>
         
            <ion-nav-buttons side="left">
                <div>
                    <!-- Toggle left side menu -->
                    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                </div>
            </ion-nav-buttons>
        </ion-nav-bar>
        
        <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>
      
      <ion-side-menu side="left" class="sidemenu">
        <div ng-hide="!user" class="side-menu-profile text-center">
            <div class="col">
                <img ng-src="{{user.picture}}">
            </div>
            <h4>{{user.name}}</h4>
            <small ng-click="showLog()">{{user.email}} - <i class="icon ion-log-out"></i> Logout</small>
        </div>
         <div class="sidemenu-links">
           <div class="list">
               <a class="menu-close item item-icon-left item-icon-right" href="#/app/home">
                    <i class="icon ion-home"></i>
                    Home
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="menu-close item item-icon-left item-icon-right" href="#/app/profile">
                    <i class="icon ion-person"></i>
                    Profile
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="menu-close item item-icon-left item-icon-right" href="#/app/todo">
                    <i class="icon ion-clipboard"></i>
                    Todo
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="menu-close item item-icon-left item-icon-right" href="#/app/users">
                    <i class="icon ion-location"></i>
                    PFÔnibus
                    <i class="icon ion-chevron-right"></i>
                </a>
           </div>
         </div>
         <div class="sidemenu-logo text-center">
             <img src="img/logo.png" width="75">
         </div>
      </ion-side-menu>
      
    </ion-side-menus>