<ion-view view-title="Profile">          
       <ion-content>
         <div class="list-card">
             <div class="item item-avatar">
                 <img ng-src="{{user.picture}}">
                 <h2>{{user.name}}</h2>
                 <p>Io Name: {{name}}</p>
                 <p>{{bio}}</p>
                 <small>{{email}}</small>
              </div>
         </div>
    </ion-content>
</ion-view>