<ion-view view-title="Todo">          
       <ion-content>
           <div ng-if="tasks.length == '0' " class="text-center">
                <h2>Hello!</h2>
                <p>Your tasks list is empty...</p>
           </div>
        <ng-else>
            <ion-list>
                <ion-item ng-repeat="task in tasks" class="item item-button-right" ng-class="{complete: task.completed}" ng-click="task.completed = !task.completed">
                    {{task.title}}
                    <ion-option-button class="button button-energized" ng-click="editTask(task)">
                        <i class="icon ion-edit"></i>
                    </button>
                    <ion-option-button class="button button-assertive" ng-click="tasks.splice($index, 1)">
                        <i class="icon ion-trash-a"></i>
                    </button>
                </ion-item>
            </ion-list>
        </ng-else>
        <!-- The content of the page -->
        <div class="row">
            <div class="col">
                <button class="button button-block button-calm" ng-click="addTask()">
                    <i class="icon ion-plus-circled"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>