<ion-view view-title="Users">
    <ion-content>
      <div ng-if=" show === 'true' ">
          <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
           </ion-refresher>
      </div>
        <!-- The content of the page -->
        <row>
            <div class="col text-center">
                <h5 class="text-center">Call the PFOnibus API to view the users</h5>
                <button class="button button-small button-outline button-calm" ng-click="getUsers()">Display the users</button>
                <button class="button button-small button-outline button-energized" ng-click="cleanUsers()">Clean the window</button>
            </div>
        </row>
        <div class="row">
            <div class="col">
             <div class="users" ng-repeat="user in data.users">
                 <div class="item item-avatar">
                     <img src="img/logo.png">
                     <h2>{{user.name}}</h2>
                     <p>
                         Email : <a ng-href="mailto:{{user.email}}">{{user.email}}</a> <br>
                         ID : {{user._id}} <br>
                         Rôle : {{user.role}}
                     </p>
                  </div>
             </div>
            </div>
        </div>
    </ion-content>
</ion-view>