<ion-view ion-view-title="Welcome!">
    <ion-content class="welcome" scroll="false">
       <img src="img/logo.png" width="200">
        <h2 class="text-center">Welcome!</h2>
        <p>TL.io is an awesome app with extra tools.</p>
        <div class="row">
            <div class="col facebook-sign-in">
            <p>Please login to start</p>
            <a class="btn-auth btn-facebook large" ng-click="facebookSignIn()">Login with Facebook</a>
        </div>
        </div>
    </ion-content>
</ion-view>