/*
 *  Custom Styles
*/

$green : #1BD964;
$blue: #0272FC;
$violet: #8649BA;
$orange: #FF772B;
$red: #F84339;

.bar-header { 
    background: $green;
    border: none;
    color: #fff;
}
.back-button {
    color: lighten($green, 20%)!important;
}

.logo { 
    text-align: center;
    padding: 0;
    margin: 0;
}

.home_text {
    margin: 0;
    padding: 0;
}
.content {
    background: $blue;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
}
.link {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    line-height: 150px;
}

.welcome {
    background: $green;
    color: white;
    font-size: 1.0rem;
    text-align: center;
    h2 {color: white;}
    
    .facebook-sign-in {
        display: block;
        margin: 120px auto 0 auto;
        color: darken($green, 15);
    }
}
.sidemenu {
    background: #333; /* fallback for old browsers */
        
    
    .side-menu-profile {
        padding-top: 20px;
        img {
            width: 75px;
            border-radius: 50%;
            padding: 5px;
        }
        h4 {
            color: white;
            line-height: 5px;
        }
        span {
        }
    }

    .sidemenu-links {
        padding-top: 30px;
        a.item {
            color: rgba(255,255,255,0.5);
            background: rgba(0,0,0,0.01);
            text-align: center;
            margin-bottom: 10px;
            border: none!important;
            margin: 0;
        }
    }   
    
    .sidemenu-logo {
        padding-top: 5em;
    }
}


.complete { color: gray; text-decoration: line-through; }
.button-group {
    padding-bottom: 50px;
}
.logmodal {
    background: $red;
    background-position: 50% 50%;
    
    i { font-size: 3em; color: white; }
    h3 { color: #fff; padding-top: 2em; margin-bottom: 5em; }
}

.btn-auth,
.btn-auth:visited {
    position: relative;
    display: inline-block;
    height: 22px;
    padding: 0 1em;
    border: 1px solid #999;
    border-radius: 2px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    color: #222;
    background: #fff;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* iOS */
    -webkit-appearance: none; /* 1 */
    /* IE6/7 hacks */
    *overflow: visible;  /* 2 */
    *display: inline; /* 3 */
    *zoom: 1; /* 3 */
}

.btn-auth:hover,
.btn-auth:focus,
.btn-auth:active {
    color: #222;
    text-decoration: none;
}

.btn-auth:before {
    content: "";
    float: left;
    width: 22px;
    height: 22px;
    background: url(../img/auth-icons.png) no-repeat 99px 99px;
}

/**
 * 36px
 */

.btn-auth.large {
    height: 36px;
    line-height: 36px;
    font-size: 20px;
}

.btn-auth.large:before {
    width: 36px;
    height: 36px;
}

/*
 * Remove excess padding and border in FF3+
 */

.btn-auth::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* Facebook (extends .btn-auth)
   ========================================================================== */

.btn-facebook,
.btn-facebook:visited {
    border-color: #29447e;
    border-bottom-color: #1a356e;
    color: #fff;
    background-color: #5872a7;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#637bad), to(#5872a7));
    background-image: -webkit-linear-gradient(#637bad, #5872a7);
    background-image: -moz-linear-gradient(#637bad, #5872a7);
    background-image: -ms-linear-gradient(#637bad, #5872a7);
    background-image: -o-linear-gradient(#637bad, #5872a7);
    background-image: linear-gradient(#637bad, #5872a7);
    -webkit-box-shadow: inset 0 1px 0 #879ac0;
    box-shadow: inset 0 1px 0 #879ac0;
}

.btn-facebook:hover,
.btn-facebook:focus {
    color: #fff;
    background-color: #3b5998;
}

.btn-facebook:active {
    color: #fff;
    background: #4f6aa3;
    -webkit-box-shadow: inset 0 1px 0 #45619d;
    box-shadow: inset 0 1px 0 #45619d;
}

/*
 * Icon
 */

.btn-facebook:before {
    border-right: 1px solid #465f94;
    margin: 0 1em 0 -1em;
    background-position: 0 0;
}

.btn-facebook.large:before {
    background-position: 0 -22px;
}